body {
	color: #333;
	font-family: sans-serif;
}

input {
	display: block;
	width: 96%;
	padding: 9px;
	margin: 12px auto;
	box-sizing: border-box;
	border: none;
	border-top: 2px solid #666;
	border-radius: 5px;
	background: transparent;
	color: #fff;
	outline: none !important;
}

input::placeholder {
	color: #198754;
	font-weight: 700;
	transition: color .3s;
}

input:hover {
	background: #198754;
	transition: background .3s;
	border-top: 2px solid #fff;

}

input:hover::placeholder {
	color: #fff;
}

input[type="submit"] {
	width: 60%;
	background: #013;
	border: none;
	border-top: 2px solid #198754;
	border-radius: 5px;
	color: #fff;
	font: 1em sans-serif;
	margin: 18px auto;
	margin-bottom: 12px;
	padding: 9px;
}

input[type="submit"]:hover {
	background: #198754;
	border-top: 2px solid #fff;
	transition: background .3s, border-top .5s;
}

h2 {
	text-align: center;
	color: #fff;
	margin-bottom: 60px;
}

form {
	width: 86%;
	margin: auto;
	background: #012;
	padding: 30px;
	border-radius: 5px;
}

.resultado {
	font-weight: 700;
	background: #013;
	color: #fff;
	width: 96%;
	padding: 30px 0px;
	margin: 12px auto;
	text-align: center;
}

.success {
	color: green;
}

.danger {
	color: #f00;
}