* {
  font-family: monospace;
  font-weight: 100;
  font-size: 20px;
}

body {
	background: #000;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #222;
  margin: 50px 30px;
  padding: 20px;
  border: 14px solid #000;
  outline: 3px solid #094;
}

.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px;
  order: 5
}

.form__input {
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid #1c7;
  background: transparent;
  color: #fff;
}

.form__input:focus {
  background: linear-gradient(to bottom, transparent, #072);
  outline: none;
  border-bottom: 3px solid #5f9;
}

.form__input::placeholder{
	color: #aaa;
}

.form textarea {
  min-height: 140px;
  resize: none;
}

.form-img {
  flex: 1;
  display: flex;
  padding: 10px;
  min-width: 300px;
  order: 2;
}

.form-img div {
  padding: 10px;
}

.img-container {
  margin: auto;
}

.img-container div {
  background: #222;
  border-radius: 50%;
  text-align: center;
  padding: 40px;
}

.form-img img {
  width: 50%;
  margin: auto;
  border-radius: 5px;
}

.form input[type="submit"]{
	background: linear-gradient(to bottom, transparent, #094);
	border-radius: 5px;
	border-bottom-color: #fff;
	padding: 15px;
}

.form input[type="submit"]:hover{
	background: linear-gradient(to bottom, transparent, #090);
	border-radius: 5px;
	border-bottom-color: #fff;
	padding: 15px;
}

.form input[type="submit"]:active{
	background: linear-gradient(to bottom, transparent, #072);
}